doctype html
html
  head
    title AzabPlex Cinema
    link(rel="stylesheet", href="/style.css")

  body

    include partials/header

    h1 Welcome to AzabPlex Cinema

    p Select "Order Form" to start ordering movies from streaming services.